<form class="form mt-5" [formGroup]="forgotPasswordForm">
    <div class="form-group">
            <label for="">Email</label>
            <input formControlName="email" type="text" class="form-control" id="" placeholder="Email" >
            <div *ngIf="forgotPasswordForm.controls['email'].invalid && (forgotPasswordForm.controls['email'].touched || forgotPasswordForm.controls['email'].dirty)" style="color: red;">
            <div *ngIf="forgotPasswordForm.controls['email'].errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="forgotPasswordForm.controls['email'].errors?.['email']">
                Email must be valid.
            </div>
        </div>
    </div>

    <button (click)="handleSubmit()" [disabled]="forgotPasswordForm.invalid" class="btn btn-primary" type="submit">Submit</button>
    
    <div *ngIf="responseMessage" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
        {{responseMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</form>
